version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: fakebank-mongo
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  mongo-init:
    image: mongo:7
    depends_on:
      - mongo
    entrypoint: >
      bash -c "
      sleep 5 &&
      mongosh --host mongo:27017 --eval '
        rs.initiate({
          _id: \"rs0\",
          members: [{ _id: 0, host: \"mongo:27017\" }]
        })
      '"

  backend:
    build: ./backend
    container_name: fakebank-backend
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      MONGO_URI: mongodb://mongo:27017/fake-bank?replicaSet=rs0
      JWT_SECRET: supersecretkey
      JWT_EXPIRES_IN: 1d
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: fakebank-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  mongo-data:
